# Ignore contents of derived private folder, with the exception of its readme file
data/derived/private/**
!readme.md

# Ignore contents of raw private folder, with the exception of its readme file
data/raw/private/**
!readme.md

# Ignore contents of scratch folder, with the exception of its readme file
data/scratch/**
!readme.md

# Ignore Microsoft Office system files
*.tmp
~$*.doc*
Backup of *.doc*
~$*.ppt*
~$*.xls*
*.xlt

# Ignore common R files
.Rproj.user
.Rhistory
.RData
.RDataTmp*
.Rapp.history

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Byte-compiled / optimized / DLL files
# https://github.com/github/gitignore/blob/main/Python.gitignore
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pipfile*

# General MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Geopackage temporary files
*.gpkg-shm
*.gpkg-wal

# Icloud
*.icloud
